---
import { Icon } from 'astro-icon';
import Logo from '~/components/atoms/Logo.astro';
import { getHomePermalink } from '~/utils/permalinks';
---

<footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="twitter"
						href="https:/twitter.com/betahero_org/"
					>
						<Icon name="tabler:brand-twitter" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Instagram"
						href="https://instagram.com/bethero_org"
					>
						<Icon name="tabler:brand-instagram" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Facebook"
						href="https://facebook.com/betaheroes/"
					>
						<Icon name="tabler:brand-facebook" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="TikTok"
						href="https://tiktok.com/bethero_org/"
					>
						<Icon name="tabler:brand-tiktok" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Youtube"
						href="https://www.youtube.com/@betahero_org"
					>
						<Icon name="tabler:brand-youtube" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Discord"
						href="https://dsc.gg/betahero"
					>
						<Icon name="tabler:brand-discord" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Github"
						href="https://github.com/betahero-org/"
					>
						<Icon name="tabler:brand-github" class="w-5 h-5" />
					</a>
				</li>
			</ul>
			<div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
				<a class="text-blue-600 hover:underline dark:text-gray-200" href="https://betahero.org/"> 
					<Logo />
				</a>·
				All rights reserved.
			</div>
		</div>
	</div>
</footer>
